@use "../abstracts";

.about {
  --width: 684px;
  --height: 800px;

  @include abstracts.screen(xxl) {
    --width: 100%;
    --height: 800px;
  }

  @include abstracts.screen(lg) {
    --width: 100%;
    --height: 540px;
  }

  @include abstracts.screen(md) {
    --width: 100%;
    --height: 420px;
  }

  &__img,
  &__content {
    border-radius: 24px;
    margin-top: 4px;
    height: var(--height);
    width: var(--width);

    @include abstracts.screen(md) {
      margin-top: 10px;
    }
  }

  &__image {
    @include abstracts.screen(md) {
      margin-top: 10px;
    }
  }

  &__img {
    object-fit: cover;

    &--second {
      margin-left: 4px;

      @include abstracts.screen(xxl) {
        margin-left: 0;
      }

      @include abstracts.screen(md) {
        margin-top: 10px;
      }
    }
  }

  &__content {
    padding: 48px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: #f4f0ea;

    @include abstracts.screen(lg) {
      padding: 50px 30px;
    }

    @include abstracts.screen(md) {
      padding: 27px 18px 42px;
      height: 100%;
    }

    &--second {
      padding: 65px 50px;

      @include abstracts.screen(lg) {
        padding: 50px 30px;
      }

      @include abstracts.screen(md) {
        padding: 5px 18px 17px;
        height: 100%;
      }
    }
  }

  &__heading {
    font-size: 6.4rem;
    margin-bottom: 6px;
    line-height: 7.4rem;

    @include abstracts.screen(xl) {
      font-size: 5.2rem;
      line-height: 1.2;
    }

    @include abstracts.screen(lg) {
      font-size: 4.4rem;
    }

    @include abstracts.screen(md) {
      font-size: 3.2rem;
      line-height: 131.25%;
      margin-bottom: 0;
      letter-spacing: 0;
    }
  }

  &__heading + &__desc {
    margin-top: 16px;
  }

  &__para {
    margin-top: 20px;

    @include abstracts.screen(md) {
      margin-top: 16px;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 10px;

    @include abstracts.screen(md) {
      font-size: 1.8rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    line-height: 157.143%;
    letter-spacing: 0;
  }

  &__desc + &__desc {
    margin-top: 16px;
    letter-spacing: 0;
  }
}

.container {
  @include abstracts.screen(md) {
    padding: 0 8px;
  }
}
