@use "../abstracts";

.orangy-header {
  position: fixed;
  width: 100%;
  background-size: cover;
  background-position: top;

  .container {
    @include abstracts.screen(sm) {
      padding: 0 8px !important;
    }
  }
}
